<div class="container">
    <div class="col-50" layout="row" layout-align="center center">
      <currency-converter-currency-list
        [currencyRates]="allCurrencyListings$ | async"
        (selected)="selectCurrencyListing($event)"
        
        (currencyListingViewed)="viewCurrencyListing($event)"
      ></currency-converter-currency-list>
    </div>
    <div class="col-50" layout="row" layout-align="center center">
      <currency-converter-currency-details
        [currencyRates]="selectedCurrencyListing$ | async"
        
        [form]="form"
      ></currency-converter-currency-details>
    </div>
  </div>