<div class="container">
    <div class="col-50" layout="row" layout-align="center center">
      <currency-converter-currency-list
        [currencyListings]="allCurrencyListings$ | async"
        (selected)="selectCurrencyListing($event)"
        (deleted)="deleteCurrencyListing($event)"
        (currencyListingViewed)="viewCurrencyListing($event)"
      ></currency-converter-currency-list>
    </div>
    <div class="col-50" layout="row" layout-align="center center">
      <currency-converter-currency-details
        [currencyListing]="selectedCurrencyListing$ | async"
        (saved)="saveCurrencyListing($event)"
        (cancelled)="resetCurrencyListing()"
        [form]="form"
      ></currency-converter-currency-details>
    </div>
  </div>